@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0')
    format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0')
    format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0')
    format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    } 
*{
    direction: rtl;
    box-sizing: border-box;

}
body{
    margin: 0px;
    font-family: klo;
    font-size: 16px;
}
a{
    text-decoration: none;
}
.d0{
    margin-top: 0px;
    border-bottom: 1px solid rgb(183, 186, 188);
    
    width: 100%;
    height: 85px;
   

}
.d0 nav{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-top: 0px;
   margin-left: 50px;
   margin-right: 70px;

}
.d0 nav .div1{
    flex: 0.8;
    margin-top: 0px;

}
.d0 nav .div1 img{
     width: 140px;
     margin-right: 46px;
     margin-bottom: 16px;
}
.search i {
    
    opacity: 50%;
    padding-top: 17px;
   
}

.jstjo{
    display: flex;
    flex-direction: row;
    width: 630px;
    height: 50px;
    
   
    border: 0px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    padding-right: 20px;
    padding-bottom: 12px;
    margin-top: 18px;

}
.d0 nav .div2{
    flex: 2;
    margin-top: 0px;
    margin-right: 0px;
    margin-left:18px ;

}

.d0 nav .div3{
   flex: 1;

   margin-top: 30px;
}
.d0 nav .div3 .a1:hover{
    color: #512DA8;
    border: 1px solid #512DA8;
}

.d0 nav .div3 .a1{
    border: 1px solid rgb(236, 236, 236);
    padding: 10px 22px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 15px;
    margin-right: 99px;
    margin-top: 30px;
    border-radius: 8px;
    font-size: 0.8em;
    color: rgb(36, 36, 36);

 }
.iii{
    font-size: 0.1em;
    width: 6%;
    margin-right: 2px;

 }
.iiii{
    width: 4%;
 }
.d0 nav .div2 input{
    width: 570px;
    height: 50px;
    font-size: 0.8em;
    color: rgb(101, 101, 101);
    border: 0px;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    padding-right: 0px;
    padding-bottom: 9px;
    border: none
   
}
.d0 nav .div2 input:hover{border: 0px;}

.slider{
    position: -webkit-sticky;
    position:sticky;
    
    top:0;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    margin-left: 50px;
    margin-top: 30px;
}
.dstebndi{
    margin-right: 50px;

}
.dstebndi a{
    background-color: #512DA8;
    color: white;
    padding: 14px 44px;
    font-size: 0.9em;
    border-radius: 8px;
}
.icons{
    margin-right: 40px;
    

}

.icons a{
    margin: 3px 22px;
    margin-right: 0px;
    color: black;
    font-size: 0.9em;
}
.listt{

    display: inline!important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
.listt i {
    margin-left: 0px;
    font-size: 23px;
}
.aa1:hover{color: #512DA8;}

.photo{
    margin: 0px 70px;
}
.m1{
    display: flex;
    flex-direction:column;
  max-width: 100%;
  padding-right: 60px ;
  padding-left: 50px;
  padding-top: 49px;
 
} 
.m2{
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 7px;

}
.jdid{
    margin-right: 70px;
    padding-right: 99px;
    font-size: 1.1em;
    margin-top: 15px;
    color: #86868b;

}
.bbhh{
    color: #512DA8;

}

.div4{
    
    
   display: flex;
   flex-direction: row; 
   flex-wrap: nowrap;
   background-color: white;
   
   
    margin-right: 70px;
    margin-left: 70px;
    padding: 20px 60px;
    padding-left: 70px;

}
.div41{
    
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 12px;
    
    
}
.aks{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
    width: 97%px;
    height: 190px;
    margin: 10px;
    border-radius: 12px;
}
.div41 img{
    width: 80%; 

}
.modl{
font-size: 0.8em;
color: rgb(26, 26, 26);
}
.price{
color: black;
padding-top: 20px;
padding-right: 35px;
font-size: 0.9em;
}
.div41 i{
    padding-top: 7px;

    margin-top: 20px;
    padding-right: 8px;
    margin-bottom: 19px;
    margin-right: 19px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #ea2f47;
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    

}
.spang{
   margin-right: 10px;
   padding-bottom: 10px;
}
.div41 i:hover{
    width: 130px;
    transition-duration: 0.3s;
    font-size: 0.8em;

}

.gozine{  opacity: 0;
    font-size: 0;
    color: #fff;
    transform: scaleX(0);
    
  }
.gozine:hover{

    opacity: 100;
    font-size: 0.5em;
}
.aks2{
display: flex;
flex-direction: row;
margin-right: 70px;
padding-right: 30px;
}
.aks2 img{
    width: 100%px;
    height: 200px;
    margin: 30px;
    border-radius: 12px; 
}

.kybord img{
    width: 250px;
}
.div411{
    width: 100px;
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 12px;
}
.modl1{
    font-size: 0.8em;
    color: rgb(26, 26, 26);
font-weight: 400;
transition-duration: .3s;
}
footer .fdiv{
    display: flex;
    flex-direction: row;
    background-image:url("foter.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 600px;
    opacity: 80%;
}
.fd1{
    width: 40%;
    margin-right: 70px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fd1 img{
    width: 150px;
    height: 160px;
}
.fd11{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
footer .fdiv .fd1 .fd11 a{
    color: black;
}
footer .fdiv .fd1 .fd11 a:hover{
    color: #512DA8;
}
.fd2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: 0.9em;
}
.fd21{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}
.fpk{margin-top: 70px;
font-size: 1.3em;}
.fd22{
    width: 80%;
    margin-left: 60px;
}
.fd23 a{
    border: solid darkgrey;
    border-radius: 8px;
}






@media screen and (max-width:900px) {
    .div2{
        display: none;

        
    }
    .slider{
        display: none;
    }
    .photo{display: none;}




    .div4{
    
    
        display: flex;
        flex-direction: row; 
        flex-wrap:wrap-reverse;
        background-color: white;
           
     
     }
   
    

    
}
@media screen and (max-width:600px) {
    .div2{
        display: none;
        
    }
    .div3{
        display: none;
    }
    .slider{
        display: none;
    }
    .photo{display: none;}
    
}

